<!-- chessboard.component.html -->

<!-- <div class="rotate-container flex items-center justify-end">
  <button class="rotate" (click)="rotateBoard()"
  >Rotate</button>
</div> -->
<div class="board-control-top flex flex-row items-center justify-end w-full">
  <div class="resign-container flex items-center justify-center">
    <button class="resign" (click)="disc()"></button>
  </div>
  <div class="separator"></div>
  <div class="rotate-container flex items-center justify-center">
    <button class="rotate" (click)="rotateBoard()"></button>
  </div>
</div>

<div #chessboardContainer class="chessboard" [style.height]="containerWidth + 'px'"> 
    <div *ngFor="let row of [0, 1, 2, 3, 4, 5, 6, 7]" class="flex">
        <div *ngFor="let col of [0, 1, 2, 3, 4, 5, 6, 7]" class="square square{{row}}{{col}} flex items-center justify-center"  
        [class.dark]="isDarkSquare(row, col)"  
        [class.light]="!isDarkSquare(row, col)" 
        [style.z-index]="0" 
        [attr.row]="row" 
        [attr.col]="col"
        [style.width]="containerWidth / 8 + 'px'"
        [style.height]="containerWidth / 8 + 'px'"
        [style.top]="(containerWidth / 8) * row + 'px'"
        [style.left]="(containerWidth / 8) * col + 'px'"
        >
        </div>
    </div>
    <div *ngFor="let row of [0, 1, 2, 3, 4, 5, 6, 7]" class="flex">
        <div *ngFor="let col of [0, 1, 2, 3, 4, 5, 6, 7]" class="flex items-center justify-center">
            <ng-container *ngIf="boardState[getMapping(row)][getMapping(col)] != '--';">
              <div>
                <img [src]="keyValuePairs.get(boardState[getMapping(row)][getMapping(col)])" class="chess-piece piece{{row}}{{col}} {{boardState[row][col]}}"        
                [attr.row]="row" 
                [attr.col]="col"
                [curRow] = "row"
                [curCol] = "col"

                [style.width]="containerWidth / 8 + 'px'"
                [style.height]="containerWidth / 8 + 'px'"
                [style.top]="(containerWidth / 8) * row + 'px'"
                [style.left]="(containerWidth / 8) * col + 'px'"
                [style.z-index]="1" 

                (boardChanged)="handleBoardChange($event, row, col)"

                pieceDrag
                [boundary]="boundary"/>
              </div>
            </ng-container>
        </div>
    </div>
</div>
<!-- <div class="board-control-top flex flex-row items-center justify-end w-full">
  <div class="resign-container flex items-center justify-center">
    <button class="resign" (click)="rotateBoard()"></button>
  </div>
  <div class="separator"></div>
  <div class="rotate-container flex items-center justify-center">
    <button class="rotate" (click)="rotateBoard()" (tap)="rotateBoard()" ></button>
  </div>
</div> -->


