.chessboard {
    border-radius: 10px;
    position: relative;
}

.square {
    position: absolute;
}

.square00{
    border-top-left-radius: 10px;
}

.square77{
    border-bottom-right-radius: 10px;
}

.square07{
    border-top-right-radius: 10px;
}

.square70{
    border-bottom-left-radius: 10px;
}

.chess-piece {
    cursor: grab;
    position: absolute;
}

.dark {
    background-color: #7a3f0cbe; /* Dark color for dark squares */
    color: #fff2ff; /* Text color for dark squares */
}

.light {
    background-color: #eeeed2; /* Dark color for dark squares */
    color: #fff2ff; /* Text color for dark squares */
} 

.highlighted-element {
    border: 3px solid #ffcc00; /* Adjust the color as needed */
}


.rotate-container, .resign-container {
    height: 70px;
}
.rotate {
    height: 30px;
    width: 30px;
    // border-radius: 10px;
    // color: white;
    background-image: url('../../../assets/rotate-button.png');
    background-size: cover; /* Make sure the image covers the entire button */
    background-repeat: no-repeat; /* Ensure the image doesn't repeat */
    border: none; /* Remove default button border */
    cursor: pointer; /* Change cursor to pointer on hover */
    /* Optionally, you can add other styling such as padding, margin, etc. */
}

.resign {
    height: 30px;
    width: 30px;
    background-image: url('../../../assets/resign-button.png');
    background-size: cover; /* Make sure the image covers the entire button */
    background-repeat: no-repeat; /* Ensure the image doesn't repeat */
    border: none; /* Remove default button border */
    cursor: pointer; /* Change cursor to pointer on hover */
    /* Optionally, you can add other styling such as padding, margin, etc. */
}


.separator{
    width: 20px;
}

.status-container {
    width: 100%;
    // background-color: black;
    // color: white;
    height: 30px;
    font-weight: 300;
    font-size: medium;
    color: #6b6b6ae8;
}
.board-control {
    height: 70px ;
}

.loading::after {
    display: inline-block;
    animation: dotty steps(1,end) 1s infinite;
    content: '';
  }
  
  @keyframes dotty {
      0%   { content: ''; }
      25%  { content: '.'; }
      50%  { content: '..'; }
      75%  { content: '...'; }
      100% { content: ''; }
  }



.overlay {
    position: fixed;
    display: none;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0,0,0,0.5);
    z-index: 2;
    // cursor: pointer;
}

.overlay-message {
    position: absolute;
    width: 300px;
    height: 400px;
    top: 55%;
    left: 50%;
    transform:translate(-50%, -50%);
    background-color: rgb(255, 255, 255);
    border-radius: 10px;
}

.overlay-title {
    font-size: larger;
    font-weight: 600;
    color: #000000b9;
}

.overlay-subtitle {
    font-size: medium;
    font-weight: 400;
    color: #000000b9;
}

.overlay-button {
    height: 40px;
    width: 200px;
    color: white;
    background-color: #7a3f0cbe;
    border-radius: 5px;
}

.overlay-button:hover {
    background-color: #7a3f0c8f;
}

.overlay-separator1 {
    height: 50px;
}
.overlay-separator2 {
    height: 20px;
}

.overlay-img {
    height: 80px;
    width: 80px;
}

.disabled-overlay-button {
    height: 40px;
    width: 200px;
    color: white;
    background-color: #7a3f0cbe;
    border-radius: 5px;
}

.moveSquareLight {
    background-color: #e9ca9f; /* Dark color for dark squares */
    
}

.moveSquareDark {
    background-color: #d38f5c; /* Dark color for dark squares */
}

.tooltip-rotate {
    visibility: hidden;
    font-size: small;
    position: absolute;
}

.rotate-container:hover .tooltip-rotate{
    visibility: visible;
}

.tooltip-resign {
    visibility: hidden;
    font-size: small;
    position: absolute;
}

.resign-container:hover .tooltip-resign{
    visibility: visible;
}