// .chessboard {
//     border-radius: 30px;
// }
  
.dark {
    background-color: #24aaf2; /* Dark color for dark squares */
    color: #fff2ff; /* Text color for dark squares */
}

.light {
    background-color: #e6f4ff; /* Dark color for dark squares */
    color: #fff2ff; /* Text color for dark squares */
}