.chessboard {
    border-radius: 10px;
    position: relative;
}

.square {
    position: absolute;
}

.square00{
    border-top-left-radius: 10px;
}

.square77{
    border-bottom-right-radius: 10px;
}

.square07{
    border-top-right-radius: 10px;
}

.square70{
    border-bottom-left-radius: 10px;
}

.chess-piece {
    cursor: grab;
    position: absolute;
}

.dark {
    background-color: #7a3f0cbe; /* Dark color for dark squares */
    color: #fff2ff; /* Text color for dark squares */
}

.light {
    background-color: #eeeed2; /* Dark color for dark squares */
    color: #fff2ff; /* Text color for dark squares */
} 

.highlighted-element {
    border: 3px solid #ffcc00; /* Adjust the color as needed */
}


.rotate-container, .resign-container {
    height: 70px;
}
.rotate {
    height: 30px;
    width: 30px;
    // border-radius: 10px;
    // color: white;
    background-image: url('../../../assets/rotate-button.png');
    background-size: cover; /* Make sure the image covers the entire button */
    background-repeat: no-repeat; /* Ensure the image doesn't repeat */
    border: none; /* Remove default button border */
    cursor: pointer; /* Change cursor to pointer on hover */
    /* Optionally, you can add other styling such as padding, margin, etc. */
}

.resign {
    height: 30px;
    width: 30px;
    // border-radius: 10px;
    // color: white;
    background-image: url('../../../assets/resign-button.png');
    background-size: cover; /* Make sure the image covers the entire button */
    background-repeat: no-repeat; /* Ensure the image doesn't repeat */
    border: none; /* Remove default button border */
    cursor: pointer; /* Change cursor to pointer on hover */
    /* Optionally, you can add other styling such as padding, margin, etc. */
}


.separator{
    width: 20px;
}