/* top-bar.component.scss */
.top-bar {
    background-color: white;
    color: rgb(40, 37, 37);
    border-bottom: 1px solid rgb(236, 236, 236);
    padding: 15px 0;
    padding-left: 20px;
    padding-right: 10px;
    display: flex;
    height: 70px;
    align-items: center;
    box-sizing: border-box;
  }
  
.logo {
    height: 40px; /* Adjust the height as needed */
    // filter: grayscale(100%);
}

.logo-name {
    font-size: 1rem;
    font-stretch: 100%;
    font-weight: 700;
    background: linear-gradient(to right, #000000, rgba(130, 68, 5, 0.656)); /* Replace with your desired gradient colors */
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
    display: inline-block;
}
.logo-container{
    cursor: pointer;
}


.separator {
    margin-left: 10px;
}

.buttons-container {
    display: flex;
    justify-content: flex-end;
}

.play-button {
    width: 80px;
    height: 40px;
    border-radius: 5px;
}

.play-button:hover, .play-button:active {
    background-color: #c0a799;
}