<!-- top-bar.component.html -->
<header class="top-bar">
        <div class="logo-container flex flex-row items-center justify-center" (click)="home()">
            <img src="../../../assets/AdventChess-logo.png" alt="Logo" class="logo" draggable="false">
            <h1 class="logo-name">AdventChess</h1>
        </div>
        <div class="buttons-container w-full">
            <button (click)="gameMenu()">
                <h1>Play</h1>
            </button>
            <div class="separator"></div>
            <!-- <button>
                <h1>Login</h1>
            </button> -->
        </div>
</header>