<!-- top-bar.component.html -->
<header class="top-bar">
        <div class="flex flex-row items-center justify-center">
            <img src="../../../assets/AdventChess-logo.png" alt="Logo" class="logo">
            <b><h1>AdventChess</h1></b>
        </div>
        <div class="buttons-container w-full">
            <button>
                <h1>Play</h1>
            </button>
            <div class="separator"></div>
            <button>
                <h1>
                    Login
                </h1>
            </button>
        </div>
</header>