<main class="flex flex-col items-center justify-center">
    <div class="page-container w-full flex flex-col items-center justify-center">
        <div class="home-container w-3/5 sm:w-3/5 md:w-2/5 lg:w-4/12 xl:w-3/12 flex flex-col items-center justify-center">
            <div class="title-container flex flex-col items-center">
                <h1 class="title">Play Chess Online</h1>
            </div>
            <button class="signup-button">Sign Up</button>
            <div class="separator"></div>
            <button class="login-button">Login</button>
            <div class="guest-container flex flex-col items-center justify-center" >
                <button class="guest-button" (click)="gameMenu()">Play as a guest</button>
            </div>
        </div>
    </div>
</main>