
<div class="bg-[#629cff]  w-full h-full absolute flex flex-col items-center justify-center space-y-10 pl-6 pr-6">
        <div class="flex flex-col items-center justify-center">
                <h1 class="title text-[#292E1E] poppins-custom text-center font-bold text-5xl  sm:text-6xl tracking-2xl"> Welcome to AdventChess</h1> 
        </div>
        <div class="w-full poppins-custom flex flex-col sm:flex-row  items-center justify-center space-y-4 sm:space-y-0 sm:space-x-4 ">
            <!-- <button class="w-full sm:w-48 h-12 rounded-lg bg-white text-black text-lg font-semibold  hover:bg-[#d4d4d4]" (click)="navigateToPlay()">Create a Game</button> -->
            <button class="w-full sm:w-48 h-12 rounded-lg bg-white text-black text-lg font-semibold  hover:bg-[#d4d4d4]" (click)="navigateToPlay()">Join Queue</button>
            <!-- <div class="separator"></div> -->
            <!-- <button class="login-button">Login</button> -->
        </div>
                <button class="poppins-custom absolute bottom-4 font-light text-[#3f3f3f] hover:text-black underline" (click)="navigateToWebsite()">Built with passion by Jabir Chowdhury</button>

</div>