<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * * * The content below * * * * * * * * * * * -->
<!-- * * * * * * * * * * is only a placeholder * * * * * * * * * * -->
<!-- * * * * * * * * * * and can be replaced.  * * * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * Delete the template below * * * * * * * * * -->
<!-- * * * * * * * to get started with your project! * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->

<style>
</style>

<main class="main flex flex-col items-center justify-center">
    <div class="top-bar-container w-full">
        <app-top-bar></app-top-bar>
    </div>  
    <div class="separator">
    </div>
    <div class="chessboard-container w-full sm:w-4/5 md:w-3/5 lg:w-5/12 xl:w-5/12 flex items-center justify-center">
        <app-chessboard class="w-full"></app-chessboard>
    </div>
</main>

<router-outlet />
