.play {
    border-bottom: 4px solid #366cc9;
    text-shadow: rgb(54, 108, 201) 0px -2px;
}

.back {
    border-bottom: 4px solid #232229;
    text-shadow: rgb(35, 34, 41) 0px -2px;
}


.title {
    border-bottom: 1px solid #d5d0d0;
}

.option {
    border: 6px solid #979cf2; 
}