<main class="flex flex-col items-center justify-center">
    <div class="page-container w-full flex flex-col items-center justify-center">
        <div class="home-container w-3/5 sm:w-3/5 md:w-2/5 lg:w-4/12 xl:w-3/12 flex flex-col items-center justify-center">
            <div class="title-container flex flex-col items-center">
                <h1 class="title">Choose a mode</h1>
            </div>
            <div class="adventure-container flex flex-row items-center justify-center">
                <button class="adventure-button" (click)="startGame('adventure')">Adventure</button>
                <!-- <div class="tooltip-adventure -mb-60 flex flex-col items-center justify-center">
                    <img src="../../assets/adventure-start.gif" class="adventure-img">
                </div> -->
             </div>
            <div class="separator"></div>
            <div class="classic-container flex flex-row items-center justify-center">
                <button class="classic-button" (click)="startGame('classic')">Classic</button>
                <!-- <div class="tooltip-classic -mb-60 flex flex-col items-center justify-center">
                    <img src="../../assets/classic-start.png" class="classic-img">
                </div> -->
             </div>
        </div>
    </div>
</main>